
.list{
   border-radius: 0px 0px 7px 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    .todos{
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
     
    
        .todo{
            position: relative;
            min-height: 60px;
            cursor: pointer;
            background-color: white;
            margin-bottom: 0;
            max-width: 100%;
           
            border-bottom: 1px #E3E4F1 solid;
            &:nth-child(1){
                border-radius: 7px 7px 0px 0px;
            }
           &:hover{
               box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                transition: .3s ease;
               z-index: 10;
               
               .x-btn{
                  opacity: 1;
               }
           }
           .x-btn{
            transition: .2s ease;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 10px;
            opacity: 0;
            margin-left: 10px;

        }
           
            padding: 0 ;
            .done{
                text-decoration: line-through;
                transition: .5s ease;
                color: rgb(172, 172, 172) !important;
            }
            .circle-wrap{
                width: 25px;
                height: 25px;
                position: absolute;
                border-radius: 50%;
                border: 1px gray solid;
                transition: .5s ease;
                margin-top: 14px;
                margin-left: 14px;
                overflow: hidden;
              
            &:hover{
                background: linear-gradient(#55DDFF, #A875F6);
            }
            
            .circle{
                background-color: #fff;
                position: absolute;
                z-index: 2;
                width: 23px;
                height: 23px;
                 margin-left:1px;
                border-radius: 50%;
                cursor: pointer;
                margin-top: 1px;
                transition: .5s ease;
               
               
                .check{
                    padding: 5px;
                    z-index: 10;
                    width: 14px;
                }
               
                }
            }
            .circle-done{
                background: linear-gradient(#55DDFF, #A875F6);
            }   
            .task-value{
                font-family: 'Josefin Sans';
                 max-width: 70%;
                word-wrap: break-word;
                height: inherit;
                padding-left: 50px;
                padding-top: 20px;
                margin: 0;
                font-size: 14pt;
                color: #494c6b;

              
            }
            
            
        }
        .no-tasks-left{
            margin-right: auto;
            margin-left: auto;
           font-size: 14pt;
        }
    }
    .filter{
        display: flex;
        color: gray;
        padding: 0px 7px;
        background-color: #fff;
        justify-content: space-between;
        border-radius:0px 0px 7px 7px ;
        .filtering-options{
            display: flex;
            width: 200px;
            justify-content: space-evenly;
            text-transform: capitalize;
            .active{
                color:#4281fd;
            }
        }
        .filtering-options,.clear{
            p{
                cursor: pointer;
                &:hover{
                    color:rgb(31, 31, 31);
                }
            }
        }
    
    }
   
   
}
.filtering-options-mobile{
        cursor: pointer;
        display: flex;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 20px;
        border-radius: 7px;
        background-color: #fff;
        justify-content: space-evenly;
        text-transform: capitalize;
        .active{
            color:#4281fd;
        }
        display: none;
    
     
  }
.dragDropMessage{  
    margin-top: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #b1b2bd;
}

.attribution{
    font-size: 11px;
    text-align: center;
    color: black;
    bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    font-size: 11pt;
    a{
        color:#4281fd;
        
    }
    &:visited{
        color: #4281fd;
    }
}


@media screen and (max-width:500px){
    .list{
        .filter{
            .filtering-options{
                display: none;
            }
        }

        
    }
    .filtering-options-mobile{
        display: flex;
     }
}