
.list{
   border-radius: 0px 0px 7px 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    input{
        transition: .5s ease;
    }
    .todos{
        background-color: #fff;
        border-radius: 7px 7px 0px 0px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
       
        min-height: 50px;
        .todo{
            min-height: 60px;
            position: relative;
            cursor: pointer;
            background-color: white;
            margin-bottom: 0;
            max-width: 100%;
            border-bottom: 1px #E3E4F1 solid;
           
           &:hover{}
           
            padding: 0 ;
            .done{
                text-decoration: line-through;
            }
            .circle-wrap{
                width: 24px;
                height: 24px;
                position: absolute;
                border-radius: 50%;
                border: 1.8px gray solid;
                transition: .5s ease;
                margin-top: 14px;
                margin-left: 14px;
              
              
            &:hover{
                background: linear-gradient(#55DDFF, #A875F6);
            }
            
            .circle{
                background-color: #fff;
                position: absolute;
                z-index: 2;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                cursor: pointer;
                transition: .5s ease;
               
               
                .check{
                    padding: 5px;
                    z-index: 10;
                    width: 15px;
                }
               
                }
            }
            .circle-done{
                background: linear-gradient(#55DDFF, #A875F6);
            }   
            .task-value{
               font-family: 'Josefin Sans';
                padding-left: 50px;
                padding-top: 20px;
                max-width:100%;
                margin: 0;
                font-size: 14pt;
               height: 100%;
                color: #494c6b;
            }
            .x-btn{
                position: absolute;
                top: 1em;
                right: 1em;
                opacity: 0;

            }
            
        }
        .no-tasks-left{
            margin-right: auto;
            margin-left: auto;
           font-size: 14pt;
        }
    }
    .filter{
        display: flex;
        color: gray;
        padding: 0px 7px;
        justify-content: space-between;

        .filtering-options{
            display: flex;
            width: 200px;
            justify-content: space-evenly;
            text-transform: capitalize;
            .active{
                color:#4281fd;
            }
        }
        .filtering-options,.clear{
            p{
                cursor: pointer;
                &:hover{
                    color:rgb(31, 31, 31);
                }
            }
        }
    
    }
   
   
}
.filtering-options-mobile{
     
   
        cursor: pointer;
        display: flex;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 20px;
        border-radius: 7px;
        background-color: #fff;
        justify-content: space-evenly;
        text-transform: capitalize;
        .active{
            color:#4281fd;
        }
        display: none;
    
     
  }
.dragDropMessage{  
    margin-top: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #b1b2bd;
}


@media screen and (max-width:500px){
    .list{
        .filter{
            .filtering-options{
                display: none;
            }
        }

        
    }
    .filtering-options-mobile{
        display: flex;
     }
}