@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.main{
    position: relative;
    z-index: 2;
    max-width: 33rem;
    min-height: 100%;
    margin: auto;
    top: -200px;
    font-family: 'Josefin Sans', sans-serif;

}


.dark-theme{
    .new-todo{
        .new-todo-input{
            transition: .5s ease;
            background-color: #25273C ;
            color: white ;
        }
        .circle-wrap{
            .circle{
                background-color: #25273C;
            }
        }
    }
    
    .list{
       
        .todos{
            background-color: #25273C;
            .todo{
                border-radius:2px 2px 0px 0px;
                background-color: #25273C;
                .task-value{
                    background-color: #25273C;
                    color: white ;
                }
                .circle-wrap{   
                    .circle{
                        background-color: #25273C ;
                    }        
                }
            }
        }
        
        .new-todo{
            .circle-wrap{
               
                .circle{
                    background-color: #25273C ;
                    }        
            }
        }

        .filter{
            border-radius: 0px 0px 10px 10px ;
            background-color: #25273C ;
            .filtering-options,.clear{
                p{
                    &:hover{
                        color:white
                    }
                }
            }
        }
        
    }
    .attribution{
        color: white;
    }
    .filtering-options-mobile{
        background-color: #25273C;
        color: white;
    }
    .dragDropMessage{
        color: white;
    }
   
}


@media screen and (max-width:600px){
    .main{
         margin: 0em 2em 2em 2em;
    }
}